{% extends 'base.html' %}

{% block title %}Word Count - NINJA Auth App{% endblock %}

{% block content %}
<section class="activity-container">
    <div class="activity-box">
        <h2>User Word Activity</h2>
        <div class="user-stats">
            <h3>{{ username }}</h3>
            <div class="stats-item">
                <span>Total Words Written:</span>
                <p>{{ word_count }}</p>
            </div>
            <div class="stats-item">
                <span>Word Count Rank:</span>
                <p>#{{ word_rank }}</p>
            </div>
        </div>
    </div>
    
    {% include 'activity/activity_selector.html' %}
</section>
{% endblock %}
